@model HomeViewModel
<div class="container">
	<div class="row">
		<h1 class="text-center">Bem vindo ao LanchesJá!</h1>
	</div>
	
</div>
<br />

<div class="row">
	<div class="col-md-12">
		<partial name="_Carousel" />
	</div>
	<br />
</div>
<div>
	<a asp-controller="Lanche" asp-action="List" role="button" class="btn btn-info">Ver todos os lanches</a>
</div>


<br />
<br />

<h1 class="text-center">Os preferidos da semana</h1>
<br />

<div class="row">
	@foreach (var lanche in Model.LanchesPreferidos)
	{
		<partial name="_LanchesResumo" for="@lanche"/>
	}

</div>